<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9918993206-m61pj8q9vkpehmv5u62ijtm99b51rhqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9918993206-m61pj8q9vkpehmv5u62ijtm99b51rhqu</string>
	<key>API_KEY</key>
	<string>AIzaSyB2f-4KNVnUaVKEuarV9BDcOS7I4IfUEic</string>
	<key>GCM_SENDER_ID</key>
	<string>9918993206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-Liwaa.Tennis-Shop</string>
	<key>PROJECT_ID</key>
	<string>tennis-shop-84538</string>
	<key>STORAGE_BUCKET</key>
	<string>tennis-shop-84538.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9918993206:ios:ff25db8c1eecd6f1b6d997</string>
</dict>
</plist>